
body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 20px; 
  }
  
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto; 
    overflow: hidden; 
  }
  
  
  article {
    flex: 2; 
    overflow-y: auto; 
  }
  
  
  aside {
    flex: 1; 
    overflow-y: auto; 
  }
